__pycache__/
**/__init__.py
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Data and model outputs
outputs/
*.bin
*.npz
*.arrow
*.pth

# W&B cache
wandb/

*.err
*.out

plots/

# Jupyter checkpoints
.ipynb_checkpoints/

*.log
**/.csv
logs/
outputs/

#data folders
nucleus_data/
slurm_submission/
data/*/
experiments/
utils/*.png
utils/*.csv

#csv files for combined dataset. will open it later. 
combined/

#old files, need to delete later
train_frozen_head.py
train_lora_ddp.py
train_lora.py
train.py